/* General Logo */
.logo {
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

/* Menu Link Styling */
.options {
  font-size: 19px;
  font-weight: 400;
}

/* Navbar background */
nav {
  background-color: rgb(245, 245, 245);
}

@media (max-width: 640px) {
  .logo {
    height: 36px;
    margin-left: 1rem;
    margin-top: -2.1rem;
  }

  .responsive-menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 1rem 2rem;
    gap: 0rem;
    /* z-index: 999; */
  }

  .responsive-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    margin-top: 1rem;
  }

  .responsive-buttons button {
    font-size: 14px;
    padding: 0.5rem 1rem;
    width: 100%;             
    text-align: left;       
    /* display: block !important;  */
  }
.search-bar{
    display: none;
}
.login-button{
   
    position: relative;
    top: -1.5rem;
}
.dashboard-button{
   
    position: relative;
    top: -1.5rem;
    right: 1.5rem;
}

}

/* Medium and larger screens */
@media (min-width: 640px) {
  .responsive-menu {
    display: flex;
    position: relative;
    right: 4rem;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
    z-index: 999;
  }

  .search-bar {
    display: flex;
    margin-right: 1rem;
  }
   .responsive-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }

  .responsive-buttons button {
    font-size: 16px;
    padding: 0.5rem 2rem;

  }
  .login-button{
    position: relative;
    right: 0.7rem;
  }
}


@media (max-width: 403px) {
  



.dashboard-button{
   
    position: relative;
    top: -1.5rem;
    right: 0.5rem;
}

}
@media (max-width: 403px) {
  



.dashboard-button{
   
    position: relative;
    top: -1.5rem;
    right: 0.5rem;
}

}